<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人事考核管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="./css/font.css">
    <script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="./js/vue.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body>
<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">考核管理</a>
			<a> <cite>员工考核</cite></a>
		</span>
</div>
<div class="x-body" id="x-body">

    <form class="layui-form layui-form-pane" id="form1">
        <div class="layui-form-item">
                <label for="topicId" class="layui-form-label">
                    <span class="x-red">*</span>职级
                </label>
                <div class="layui-input-inline">
                    <select id="rankId" v-model="rankId" lay-filter="chooseRankIdOther">
                        <option value="">请选择职级</option>
                        <option v-for="(item,index) in rankdata" :value="item.rankId">{{ item.name }}</option>
                    </select>
                </div>
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>部门
                </label>
                <div class="layui-input-inline">
                    <select id="departmentId" v-model="departmentId" lay-filter="chooseDptIdOther">
                        <option value="">请选择部门</option>
                        <option v-for="(item,index) in dptdata" :value="item.departmentId">{{ item.name }}</option>
                    </select>
                </div>
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>员工
                </label>
                <div class="layui-input-inline">
                    <select name="employeeId" id="employeeId" lay-filter="chooseEmpIdOther">
                        <option value="">请选择考核员工</option>
                        <!--<option v-for="(item,index) in empdata" :value="item.employeeId">{{ item.name }}</option>-->
                    </select>
                </div>
        </div>
    </form>
    <blockquote class="layui-elem-quote layui-text">当前考核主题 : {{assessTopic.title}}
    </blockquote>

    <div class="layui-row">
    <form class="layui-form  layui-form-pane layui-col-md4 layui-col-md-offset3" id="assessFrom" v-if="showForm">
        <input type="hidden" id="topic" name="topic" v-model="assessTopic.topicId">
        <input type="hidden" id="weight" name="weight" v-model="weight">
        <div class="layui-form-item" v-for="(item,index) in assessContents">
            <!-- <label for="username" class="layui-form-label">
                  <span class="x-red"></span>{{ item.content }}
              </label> --><!--

            <div class="layui-input-inline">
                <span class="x-red"></span>{{ item.content }}
            </div>
            <div class="layui-input-inline" style="text-align: right;" >
                <input type="text" :id="gernerateId(index)" name="contentScore" required="" autocomplete="off" class="layui-input" placeholder="分数">
            </div>-->
            <input type="hidden" id="score" name="score">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    {{ item.content }}
                </label>
                <label class="layui-form-label">
                    满分：{{ item.grade }}
                </label>
                <div class="layui-input-inline">
                    <input type="text" :id="gernerateId(index)" name="contentScore" required="" autocomplete="off" class="layui-input" placeholder="分数">
                </div>
            </div>
        </div><!--
        <div class="layui-form-item" style="text-align:right;">
            <label for="L_btn" class="layui-form-label"> </label>
            <a class="layui-btn layui-btn-normal" lay-filter="save" v-on:click="assessGrade" lay-submit=""> 保存 </a>
        </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" lay-filter="save" v-on:click="assessGrade" lay-submit=""> 保存 </a>
            </div>
        </div>
    </form>

    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: '#x-body',
        data: {
            assessTopic: {},
            rankdata: [],
            empdata: [],
            dptdata: [],
            assessTopics: [],
            assessContents: [],
            rankId: "",
            departmentId: "",
            employeeId: "",
            weight: 0,
            showForm: false
        },
        created() {
            this.queryrankList();
            this.querydptList();
        },
        methods: {
            queryrankList() {
                let that = this;
                $.ajax({
                    async: false,
                    cache: false,
                    url: "/human/rank/query",
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify({'pageIndex': '0', 'pageSize': '10'}),
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == '0') {
                            that.rankdata = data.ranks;
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    }, error: function (request) {
                        layer.msg('网络错误');
                    }
                });
            },
            querydptList() {
                let that = this;
                $.ajax({
                    async: false,
                    cache: false,
                    url: "/human/department/query",
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify({'pageIndex': '0', 'pageSize': '10'}),
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == '0') {
                            that.dptdata = data.departments;
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    }, error: function (request) {
                        layer.msg('网络错误');
                    }
                });
            },
            queryeffective() {
                let that = this;
                $.ajax({
                    async: false,
                    cache: false,
                    url: "/human/assessment/query/effective",
                    contentType: "application/json",
                    type: "POST",
                    //data : JSON.stringify({ 'pageIndex': '0', 'pageSize': '10' }),
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == '0') {
                            that.assessTopic = data.assessTopic;
                            that.assessContents = data.assessContents;
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    }, error: function (request) {
                        layer.msg('网络错误');
                    }
                });
            },
            assessGrade() {
                let that = this;
                var jsonStr = $('#assessFrom').serializeObject();
                var gradeArr = jsonStr.assessResult.contentScore;
                var totalScore = 0;
                for (var i = 0, len = gradeArr.length; i < len; i++) {
                    totalScore = totalScore + parseInt(gradeArr[i]);
                }
                jsonStr.assessResult.score = totalScore;
                jsonStr.assessResult.employeeId = that.employeeId;
                var subObj = {};
                delete jsonStr.assessResult["contentScore"];
                $.ajax({
                    async: false,
                    cache: false,
                    url: "/human/assessment/result/add",
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(jsonStr),
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == '0') {

                        } else {
                            layer.msg(data.resultMessage);
                        }
                    }, error: function (request) {
                        layer.msg('网络错误');
                    }
                });

            },
            gernerateId(index) {
                return "contentScore_" + index;
            },
            chooseRankId() {
                if (this.departmentId != "" && this.rankId != "") {
                    this.queryEmplayee();
                }
            },
            chooseDptId() {
                if (this.departmentId != "" && this.rankId != "") {
                    this.queryEmplayee();
                }
            },
            chooseEmpId() {
                //调接口判断该员工是否已经被考核，如果被考核，则显示考核成绩，否则显示添加考核成绩内容
                if (this.employeeId == "3213") {
                    this.showForm = false;
                    layer.msg('员工ID：' + this.employeeId);
                } else {
                    this.showForm = true;
                    this.queryeffective();
                }
            },
            queryEmplayee() {
                let that = this;
                $.ajax({
                    async: false,
                    cache: false,
                    url: "/human/user/assess/condition",
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify({'department': that.departmentId, 'rank': that.rankId}),
                    dataType: "json",
                    success: function (data) {
                        if (data.resultCode == '0') {
                            var data = data.employees;
                            if (data != null) {
                                that.empdata=[];
                                for (var i = 0, len = data.length; i < len; i++) {
                                    var emp = {};
                                    emp.employeeId = data[i].employeeId;
                                    emp.name = data[i].name;
                                    that.empdata.push(emp);
                                }
                                loadEmp(that.empdata);
                            } else {
                                that.empdata = [];
                            }
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    }, error: function (request) {
                        layer.msg('网络错误');
                    }
                });
            }
        }
    })

    $.fn.serializeObject = function (flag) {
        var o = {};
        var dpt = {"assessResult": o};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return dpt;
    }
    /*
    *
    * 初始化表单
    * */
    var $form;
    var form;
    var $;
    layui.use(['jquery', 'form'], function () {
        $ = layui.jquery;
        form = layui.form;
        $form = $('#form1');
        loadingUse();
    });

    /*
    *
    * 加载省数据
    * */
    function loadingUse() {
        form.render();
        form.on('select(chooseRankIdOther)', function (data) {
            app.rankId=data.value;
            if (app.departmentId != "" && app.rankId != "") {
                app.queryEmplayee();
            }
        });
        form.on('select(chooseDptIdOther)', function (data) {
            app.departmentId=data.value;
            if (app.departmentId != "" && app.rankId != "") {
                app.queryEmplayee();
            }
        });
        form.on('select(chooseEmpIdOther)', function (data) {
            //调接口判断该员工是否已经被考核，如果被考核，则显示考核成绩，否则显示添加考核成绩内容
            if (app.employeeId == "3213") {
                app.showForm = false;
                layer.msg('员工ID：' + app.employeeId);
            } else {
                app.showForm = true;
                app.queryeffective();
            }
        });

    }


    //加人员下来列表
    function loadEmp(emp) {
        var empHtml = '';
        empHtml += '<option value="">请选择考核员工</option>';
        for (var i = 0; i < emp.length; i++) {
            empHtml += '<option value="' + emp[i].employeeId + '">' + emp[i].name + '</option>';
        }
        $form.find('select[name=employeeId]').html(empHtml).parent().show();
        form.render();
    }
</script>
</html>