<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>人事考核管理系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="./css/xadmin.css">
	<link rel="stylesheet" href="./css/font.css">
	<link rel="stylesheet"
		  href="./lib/layui/css/modules/layer/default/layer.css">
	<script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="./js/jquery.cookie.js"></script>
	<script type="text/javascript" src="./js/vue.min.js"></script>
	<script type="text/javascript" src="./lib/layui/layui.js"></script>
	<script type="text/javascript" src="./js/xadmin.js"></script>
	<script type="text/javascript" src="./js/common.js"></script>
</head>

<body>
<div class="x-body" id="x-body"  v-cloak>
	<form class="layui-form layui-form-pane" id="editfrom">
		<div class="layui-row">
			<div class="layui-form-item">
				<div class="layui-col-xs6">
					<label for="employeeId" class="layui-form-label">
						<span class="x-red">*</span>员工编号
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="text" id="employeeId" name="employeeId" v-bind:readonly="flag=='edit'" v-model="employee.employeeId"
							   autocomplete="off" class="layui-input" lay-verify="checkId">
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.employeeId" style="background-color:#fff;width:170px"></label>
				</div>
				<div class="layui-col-xs6">
					<label for="englishName" class="layui-form-label">
						<span class="x-red"></span>员工昵称
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="text" id="englishName" name="englishName" v-model="employee.englishName"
							   autocomplete="off" class="layui-input"  lay-verify="">
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.englishName" style="background-color:#fff;width:170px"></label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col-xs6">
					<label for="name" class="layui-form-label">
						<span class="x-red">*</span>员工姓名
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="text" id="name" name="name" lay-verify="checkName" v-model="employee.name"
							   autocomplete="off" class="layui-input" >
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.name" style="background-color:#fff;width:170px"></label>
				</div>
				<div class="layui-col-xs6">
					<label for="nation" class="layui-form-label">
						<span class="x-red"></span>民族
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="text" id="nation" name="nation" v-model="employee.nation"
							   autocomplete="off" class="layui-input"  lay-verify="">
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.nation" style="background-color:#fff;width:170px"></label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col-xs6">
					<label for="sex" class="layui-form-label">
						<span class="x-red">*</span>性别
					</label>
					<div class="layui-input-block"v-show="flag=='edit'||flag=='add'">
						<input type="radio" name="sex" value="0" title="男"   v-model="employee.sex" checked=""  lay-filter="sex" >
						<input type="radio" name="sex" value="1" title="女"   v-model="employee.sex"  lay-filter="sex" >
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.sex" style="background-color:#fff;width:170px"></label>
				</div>
				<div class="layui-col-xs6">
					<label for="birthday" class="layui-form-label">
						<span class="x-red"></span>出生日期
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="text" name="birthday" id="birthday"  class="layui-input"  lay-verify=""  v-model="employee.birthday" >
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.birthday" style="background-color:#fff;width:170px"></label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col-xs12">
					<label for="homeAddr" class="layui-form-label">
						<span class="x-red"></span>家庭住址
					</label>
					<div class="layui-input-block"v-show="flag=='edit'||flag=='add'" style="width:570px">
						<input type="text" id="homeAddr" name="homeAddr" v-model="employee.homeAddr"
							   autocomplete="off" class="layui-input"  lay-verify="">
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.homeAddr" style="background-color:#fff;width:550px"></label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col-xs6">
					<label for="tel" class="layui-form-label">
						<span class="x-red">*</span>电话号码
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="text" id="tel" name="tel" required="" v-model="employee.tel" lay-verify="checkTel||phone"
							   autocomplete="off" class="layui-input" >
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.tel" style="background-color:#fff;width:170px"></label>
				</div>
				<div class="layui-col-xs6">
					<label for="email" class="layui-form-label">
						<span class="x-red">*</span>邮箱
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="text" id="email" name="email" v-model="employee.email" lay-verify="checkEmail||email"
							   autocomplete="off" class="layui-input" >
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.email" style="background-color:#fff;width:170px"></label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col-xs6">
					<label for="department" class="layui-form-label">
						<span class="x-red">*</span>所属部门
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<select name="department" id="department" lay-verify="checkDepartmentId" v-model="employee.department" lay-filter="department">
							<option value="">请选择部门</option>
							<option v-for="(item,index) in department"  :value="item.departmentId">{{ item.name }}</option>
						</select>
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.department" style="background-color:#fff;width:170px"></label>
				</div>
				<div class="layui-col-xs6">
					<label for="rank" class="layui-form-label">
						<span class="x-red">*</span>职级
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<select name="rank" id="rank" lay-verify="checkJobId" v-model="employee.rank"  lay-filter="rank">
							<option value="">请选择职级</option>
							<option v-for="(item,index) in rank"  :value="item.rankId">{{ item.name }}</option>
						</select>
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.rank" style="background-color:#fff;width:170px"></label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col-xs6">
					<label for="salary" class="layui-form-label">
						<span class="x-red"></span>基本工资
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<input type="hidden" id="supplement" name="supplement"  v-model="employee.supplement"  class="layui-input">
						<input type="text" id="salary" name="salary" required="" v-model="employee.salary"
							   autocomplete="off" class="layui-input"  lay-verify="">
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.salary" style="background-color:#fff;width:170px"></label>
				</div>
				<div class="layui-col-xs6">
					<label for="job" class="layui-form-label">
						<span class="x-red"></span>职位
					</label>
					<div class="layui-input-inline"v-show="flag=='edit'||flag=='add'">
						<select name="job" id="job" lay-verify="" v-model="employee.job"  lay-filter="job">
							<option value="">请选择职位</option>
							<option v-for="(item,index) in job"  :value="item.jobId">{{ item.name }}</option>
						</select>
					</div>
					<label class="layui-form-label" v-show="flag=='view'"  v-text="employee.job" style="background-color:#fff;width:170px"></label>
				</div>
			</div>
		</div>
        <div class="layui-form-item" style="text-align:right;margin-top: 35px;"v-show="flag=='edit'">
            <a class="layui-btn layui-btn-normal" style="width: 216px;" lay-filter="updateEvent" lay-submit="">
                修改
            </a>
        </div>
        <div class="layui-form-item" style="text-align:right;margin-top: 35px;" v-show="flag=='add'">
            <a class="layui-btn layui-btn-normal" style="width: 216px;" lay-filter="addEvent" lay-submit="">
                新增
            </a>
        </div>
	</form>
</div>
</body>
<script>
    var app = new Vue({
        el: '#x-body',
        data: {
            assessTopic: {},
            rank:[
                {name:'科级',id:'1'}
            ],
            department:[
                {name:'技术部',id:'1'}
            ],
            employee: {},
            editlist: false,
            editDetail: {},
            newsList: [],
            verifyEmpForm: true,
            flag:''
        },
        created(){
            this.queryrankList();
            this.querydptList();
            this.queryjobList();
            this.queryEmployee();
        },
        methods: {
            queryEmployee() {
                var that = this;
                var employeeId = getParamFormURL("id");
                this.flag = getParamFormURL("flag");
                if (this.flag=='add')
                {
                    this.employee={};
                    this.employee.sex=0;
                    return
                }
                $.ajax({
                    async : false,
                    cache : false,
                    url : "/human/user/findById",
                    contentType : "application/json",
                    type : "POST",
                    data : JSON.stringify({"employeeId":employeeId}),
                    dataType : "json",
                    success : function(data) {
                        if(data.resultCode=='0') {
                            that.employee = data.employee;/*
                            $("#birthday").html(data.employee.birthday);
                            if(data.employee.sex=='0'){
                                document.getElementById("man").checked=true;
							}else if(data.employee.sex=='1'){
                                document.getElementById("woman").checked=true;
							}*/
                            if (that.flag=='view'){
                                that.employee.sex==0?that.employee.sex='男':that.employee.sex==1?that.employee.sex='女':that.employee.sex='';
                                that.employee.rank=getListValue(that.employee.rank,that.rank,'rankId','name');
                                that.employee.department=getListValue(that.employee.department,that.department,'departmentId','name');
                                that.employee.job=getListValue(that.employee.job,that.job,'jobId','name');
							}
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    },error : function(request) {
                        layer.msg('网络错误');
                    }
                });
            },
            queryrankList() {
                let that = this;
                $.ajax({
                    async : false,
                    cache : false,
                    url : "/human/rank/query?pageIndex=1&pageSize=30",
                    contentType : "application/json",
                    type : "GET",/*
                    data : JSON.stringify({ 'pageIndex': '0', 'pageSize': '30' }),*/
                    dataType : "json",
                    success : function(data) {
                        if(data.resultCode=='0') {
                            that.rank = data.ranks;
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    },error : function(request) {
                        layer.msg('网络错误');
                    }
                });
            },
            querydptList(){
                let that = this;
                $.ajax({
                    async : false,
                    cache : false,
                    url : "/human/department/query?pageIndex=1&pageSize=30",
                    contentType : "application/json",
                    type : "GET",/*
                    data : JSON.stringify({ 'pageIndex': '0', 'pageSize': '30' }),*/
                    dataType : "json",
                    success : function(data) {
                        if(data.resultCode=='0') {
                            that.department = data.departments;
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    },error : function(request) {
                        layer.msg('网络错误');
                    }
                });
            },
            queryjobList(){
                let that = this;
                $.ajax({
                    async : false,
                    cache : false,
                    url : "/human/job/query?pageIndex=1&pageSize=30",
                    contentType : "application/json",
                    type : "GET",/*
                    data : JSON.stringify({ 'pageIndex': '0', 'pageSize': '30' }),*/
                    dataType : "json",
                    success : function(data) {
                        if(data.resultCode=='0') {
                            that.job = data.jobs;
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    },error : function(request) {
                        layer.msg('网络错误');
                    }
                });
            }
        }
    })
    layui.use(['form','layer','laydate'], function(){
        $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        laydate.render({
            elem: '#birthday'
			,done: function(value, date, endDate){
                app.employee.birthday=value;
               // console.log(value);
				// 得到日期生成的值，如：2017-08-18
              //  console.log(date);
				// 得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
              //  console.log(endDate);
				// 得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });

        //自定义验证规则
        form.verify({
            checkId: function(value) {
                if(!!!value){
                    return '请输入员工编号';
                }
            },
            checkName: function(value) {
                if(!!!value){
                    return '请输入员工姓名';
                }
            },
            checkSex: function(value) {
                if(!!!value||(value!=0&&value!=1)){
                    return '请输入员工性别';
                }
            },
            checkTel: function(value) {
                if(!!!value){
                    return '请输入电话号码';
                }
            },
            checkEmail: function(value) {
                if(!!!value){
                    return '请输入邮箱';
                }
            },
            checkRankId: function(value) {
                if(value == '' || value == null){
                    app.verifyEmpForm = false;
                    return '请选择职级';
                }
            },
            checkDepartmentId: function(value) {
                if(value == '' || value == null){
                    app.verifyEmpForm = false;
                    return '请选择部门';
                }
            },
            checkJobId: function(value) {
                if(value == '' || value == null){
                    app.verifyEmpForm = false;
                    return '请选择职位';
                }
            }
        });
        form.on('submit(addEvent)', function(data){
            var subFlag = true;
            //监听提交
            console.info("执行提交");
            var jsonStr = $('#editfrom').serializeObject("employee");
            jsonStr.employee.supplement = "1";
            jsonStr.employee.sex = data.field.sex;
            console.info(JSON.stringify(jsonStr));
            if(subFlag) {
                $.ajax({
                    async : false,
                    cache : false,
                    url : "/human/user/regist",
                    contentType : "application/json",
                    type : "POST",
                    data : JSON.stringify(jsonStr),
                    dataType : "json",
                    success : function(data) {
                        if(data.resultCode=='0') {
                            layer.msg("新增成功");
                            $.cookie('supplement', "1");
                            setTimeout("parent.location.href='emp_list.html'",3000);
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    },error : function(request) {
                        layer.msg('网络错误');
                    }
                });
            }
            subFlag = false;
            return false;
        });

        //监听提交
        form.on('submit(updateEvent)', function(data){
            var subFlag = true;
            var jsonStr = $('#editfrom').serializeObject("employee");
            jsonStr.employee.supplement = "1";
            jsonStr.employee.sex = data.field.sex;
            console.info(JSON.stringify(jsonStr));
            if(subFlag) {
                $.ajax({
                    async : false,
                    cache : false,
                    url : "/human/user/modify",
                    contentType : "application/json",
                    type : "POST",
                    data : JSON.stringify(jsonStr),
                    dataType : "json",
                    success : function(data) {
                        if(data.resultCode=='0') {
                            layer.msg("修改成功");
                            $.cookie('supplement', "1");
                            //parent.location.href="emp_list.html";
                            setTimeout(function(){
                               // parent.frames["mainIframe"].active.reload();
                                //parent.location.href='emp_list.html';
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                },5000);
                            //parent.location.href="index.html";
                        } else {
                            layer.msg(data.resultMessage);
                        }
                    },error : function(request) {
                        layer.msg('网络错误');
                    }
                });
            }
            subFlag = false;
            return false;
        });
        form.on('select(job)', function (data) {
            app.employee.job=data.value;
            form.render('select');
        });
        form.on('select(department)', function (data) {
            app.employee.department=data.value;
            form.render('select');
        });
        form.on('select(rank)', function (data) {
            app.employee.rank=data.value;
            form.render('select');
        });
        form.on('radio(sex)', function(data){
            app.employee.sex=data.value;
        });
    });
    $.fn.serializeObject = function(flag) {
        var o = {};
        var rank = {"employee":o};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [ o[this.name] ];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return rank;
    }
</script>
</html>