<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>人事考核管理系统</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="./css/xadmin.css">
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet"
	href="./lib/layui/css/modules/layer/default/layer.css">
<script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="./js/vue.min.js"></script>
<script type="text/javascript" src="./lib/layui/layui.js"></script>
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<style type="text/css">
	#mask {
		background: rgba(0, 0, 0, .5);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
	}
	
	.mask {
		width: 500px;
		height: 500px;
		background: rgba(255, 255, 255, 1);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 47;
		border-radius: 5px;
	}
	
	.title {
		padding: 10px;
		border-bottom: 1px solid #eee;
	}
	
	.title span {
		float: right;
		cursor: pointer;
	}
</style>
</head>
<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="javascript:;">首页</a>
			<a href="javascript:;">职级称呼管理</a> <a> <cite>职级称呼列表</cite></a>
		</span> 
		<a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> 
			<i class="layui-icon" style="line-height: 30px">ဂ</i>
		</a>
	</div>
	<div class="x-body" id="job-list">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so">
				<div class="layui-col-xs6">
					<input type="text" id="search_jobName" name="search_jobName"
						placeholder="请输入职级称呼名称" autocomplete="off" class="layui-input">
					<a class="layui-btn" v-on:click="jobSearch">
						<i class="layui-icon">&#xe615;</i>
					</a>
				</div>
			</form>
		</div>
		<xblock>
		<!-- <button class="layui-btn layui-btn-danger" onclick="delAll()">
			<i class="layui-icon"></i>批量删除
		</button> -->
		<a class="layui-btn" v-on:click="jobEdit">
			<i class="layui-icon"></i>添加
		</a>
		<span class="x-right" style="line-height: 40px">共有数据：{{totalNum}} 条</span> </xblock>
		<table class="layui-table">
			<thead>
				<tr>
					<th>
						<div class="layui-unselect header layui-form-checkbox"
							lay-skin="primary">
							<i class="layui-icon">&#xe605;</i>
						</div>
					</th>
					<th>职级称呼名称</th>
					<th>职级称呼描述</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in jobdata">
					<td>
						<div class="layui-unselect layui-form-checkbox" lay-skin="primary">
							<i class="layui-icon">&#xe605;</i>
						</div>
					</td>
					<td>{{item.name}}</td>
					<td>{{item.memo}}</td>
					<td class="td-manage">
						<a title="编辑" v-on:click="jobEdit(item)" href="javascript:;"> 
							<i class="layui-icon">&#xe642;</i>
						</a> 
						<a title="删除" v-on:click="jobDel(item.jobId)" href="javascript:;"> 
							<i class="layui-icon">&#xe640;</i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- <div class="page">
			<div>
				<a class="prev" href="">&lt;&lt;</a> 
				<a class="num" href="">1</a> 
				<span class="current">2</span> 
				<a class="num" href="">3</a> 
				<a class="num" href="">489</a> 
				<a class="next" href="">&gt;&gt;</a>
			</div>
		</div> -->

		<div id="mask" v-if="editcontent">
			<div class="mask">
				<div class="title">
					职级称呼{{title}} <span @click="editcontent=false"> X </span>
				</div>
				<div id="job_eidt" class="x-body">
					<form class="layui-form" id="editfrom">
						<input type="hidden" id="L_jobId" name="jobId" v-model="job.jobId" readonly="readonly" 
									autocomplete="off" class="layui-input">
						<div class="layui-form-item">
							<label for="L_name" class="layui-form-label"> <span class="x-red">*</span>职级称呼名称</label>
							<div class="layui-input-inline">
								<input type="text" id="L_name" name="name" v-model="job.name" lay-verify="name"
									autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="L_memo" class="layui-form-label"> <span class="x-red">*</span>职级称呼描述</label>
							<div class="layui-input-inline">
								<input type="text" id="L_memo" name="memo" v-model="job.memo" required="" lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="L_btn" class="layui-form-label"> </label>
							<button class="layui-btn" lay-filter="savejob" v-on:click="savejob" lay-submit="">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script>


var vm = new Vue({
	el: '#job-list',
	data: {
		jobdata: [],
		totalNum: "",
		job: {},
		title: "",
		saveOrUpdate: "",
		editcontent: false
	},
	created(){
		this.queryjobList();
	},
	methods: {
		queryjobList(){
			let that = this;
			$.ajax({
				async : false,
				cache : false,
				url : "/human/job/query",
				contentType : "application/json",
				type : "POST",
				data : JSON.stringify({ 'pageIndex': '0', 'pageSize': '10' }),
				dataType : "json",
				success : function(data) {
					if(data.resultCode=='0') {
						that.jobdata = data.jobs;
						if(data.jobs) {
							that.totalNum = data.jobs.length;
						} else {
							that.totalNum = 0;
						}
					} else {
						layer.msg(data.resultMessage);
					}
				},error : function(request) {
					layer.msg('网络错误'); 
		        }
			});
		},
		jobDel: function (id) //删除 
		{
			let that = this;
			$.ajax({
				async : false,
				cache : false,
				url : "/human/job/delete",
				contentType : "application/json",
				type : "POST",
				data : JSON.stringify({ 'jobId': id}),
				dataType : "json",
				success : function(data) {
					if(data.resultCode=='0') {
						that.queryjobList();
					} else {
						layer.msg(data.resultMessage);
					}
				},error : function(request) {
					layer.msg('网络错误'); 
		        }
			});
		},
		jobEdit: function (item) //更新 
		{
			var that = this;
			that.job = {
				jobId: item.jobId,
				name: item.name,
				memo: item.memo
			}
			if(item.jobId == '' || item.jobId == undefined) {
				that.title = "新增";
				that.saveOrUpdate = "save";
			} else {
				that.title = "编辑";
				that.saveOrUpdate = "update";
			}
			that.editcontent = true;
		},
		savejob: function() {
			var that = this;
			layui.use(['form','layer'], function(){
			    $ = layui.jquery;
			  var form = layui.form;
			  var layer = layui.layer;
			  //自定义验证规则
			  form.verify({
			  	name: function(value){
			      if(value == ''){
			        return '职级称呼名称不能为空';
			      }
			    }
			  });
			  var subFlag = true;
			  //监听提交
			 form.on('submit(savejob)', function(data){
				 var jsonStr = $('#editfrom').serializeObject(that.saveOrUpdate);
				 var url = "";
				 if(subFlag) {
					 if(that.saveOrUpdate == 'save') {
						 url = "/human/job/add";
					 } else {
						 url = "/human/job/modify";
					 }
				   $.ajax({
						async : false,
						cache : false,
						url : url,
						contentType : "application/json",
						type : "POST",
						data : JSON.stringify(jsonStr),
						dataType : "json",
						success : function(data) {
							if(data.resultCode=='0') {
								layer.msg(that.title + "成功");
								that.queryjobList();
							    that.editcontent = false;
							} else {
								layer.msg(data.resultMessage);
							}
						},error : function(request) {
							layer.msg('网络错误'); 
				        }
					});
				 }
				 subFlag = false;
			    return false;
			  });
			});
		},
		// 按条件查询
		jobSearch: function() {
			let that = this;
			$.ajax({
				async : false,
				cache : false,
				url : "/human/job/query",
				contentType : "application/json",
				type : "POST",
				data : JSON.stringify({'jobName': $("#search_name").val(),'pageIndex': '0', 'pageSize': '10' }),
				dataType : "json",
				success : function(data) {
					if(data.resultCode=='0') {
						that.jobdata = data.jobs;
						if(data.jobs) {
							that.totalNum = data.jobs.length;
						} else {
							that.totalNum = 0;
						}
						
					} else {
						layer.msg(data.resultMessage);
					}
				},error : function(request) {
					layer.msg('网络错误'); 
		        }
			});
		}
	}  
}); 

$.fn.serializeObject = function(flag) {
    var o = {};
    var job = {"job":o};
    var a = this.serializeArray();
    $.each(a, function() {
    	if(flag == "save") {
    		if(this.name == 'jobId') {
    			return;
    		}
    	}
        if (o[this.name]) {
            if (!o[this.name].push) {
                o[this.name] = [ o[this.name] ];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return job;
}
</script>
</html>